# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Streamlit
.streamlit/

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
